* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: #FDFEFF;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1D2025;
    overflow: hidden;
    gap: 2vw;
}

.series-header {
    width: 22.5vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.series-title {
    font-size: xx-large;
    font-weight: 500;
}

.series-poster {
    width: 12vw;
}

.series-information {
    display: flex;
    flex-direction: column;
    font-size: medium;
    gap: 1.5rem;
}

.subheadding {
    font-size: large;
    color: #8C8F94;
}

.episodes-matrix {
    width: 72.5vw;
    height: 41.5vh;
    display: grid;
    gap: 1rem;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.episode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: .25rem;
}

/* Colors */
.great      { background-color: #27A746; }
.good       { background-color: #74E28F; }
.regular    { background-color: #F7D264; }
.bad        { background-color: #B42829; }
.terrible   { background-color: #A9306D; }